  html {
      scroll-behavior: smooth;
    }
     

        body {
            min-height: 100vh;
            background-repeat: no-repeat;
        }

     nav {
            background-color: rgb(255, 255, 255);
            height: 60px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
                sans-serif;
            font-weight: 500;
            align-items: center;
            position: fixed;
            width:100%;
            margin-bottom: 50px;
            z-index: 1000;
        }

        nav ul {
            width: 100%;

            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        nav li {
            height: 50px;
            margin: 0 8px;
        }

        nav a {
            height: 100%;
            position: relative;
            padding: 12px 30px;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: rgb(0, 0, 0);
        }

        nav ul.normal li:not(:first-child ) a::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        nav ul.normal li:not(:first-child .menu-button) a:hover::after {
            transform: scaleX(1);
        }

        
        
        

        nav li:first-child {
            margin-right: auto;
        }

        nav img {
            padding: 0;
           margin-top: 11px;
            align-items: center;
            padding: 0 20px;
            /* Убираем лишние вертикальные отступы */
            height: 60px;
            box-sizing: border-box;
        }


        .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: max-content;
            background-color: rgba(186, 0, 0, 0);
            backdrop-filter: blur(50px);
            box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
            list-style: none;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .sidebar li {
            width: 100%;
        }

        .sidebar a {
            width: 100%;
        }

        .menu-button {
            display: none;
        }

        @media(max-width: 800px) {
            .hideOnMobile {
                display: none;
            }

            .menu-button {
                display: block;
            }
           .logoWelcom {
        width: 100vw; /* Ширина видимой области */
        height: 100vh; /* Высота видимой области */
        object-fit: cover; /* Делает так, чтобы видео масштабировалось, не теряя пропорций */
    }
        }

        @media(max-width: 400px) {
            .sidebar {
                width: 100%;
            }
            .logoWelcom {
        width: 100vw; /* Ширина видимой области */
        height: 100vh; /* Высота видимой области */
        object-fit: cover; /* Делает так, чтобы видео масштабировалось, не теряя пропорций */
    }
    
        }
        .logo2 {
    width: 700px !important;
    height: 382px !important;
    object-fit: cover; 
    max-width: 100%; /* Чтобы избежать выхода за границы */
    max-height: 100%;
    margin-top: -58px !important;
    
  }
        .language {
  display: inline-block;
  position: relative;
  font-family: Arial, sans-serif;
}

#languageSwitcher {
  padding: 15px 30px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  
}
@media (max-width: 600px) {
    #languageSwitcher {
       padding: 0px;
        font-size: 15px;
        margin: 15px;
    }
}

#languageSwitcher:hover {
  background-color: #e6e6e6;
  border-color: #aaa;
}

#languageSwitcher:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#languageSwitcher option {
  padding: 5px;
  color: #000000;
  background-color: #ffffff;
}

    

    .card-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .course-details {
      list-style-type: disc;
      color: #000000;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 15px;

      width: 250px;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: auto;
    }

    .container {
      width: 70%;

      margin-top: 80px;
    }

    .container h2 {
      text-align: center;
    }

    .welcome {
      display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 61px;
    margin-top: 0px;
    width: 100%;
    }
    .welcome video {
  width: 600px; /* Стандартна ширина */
  height: 300px; /* Стандартна висота */
  max-width: 100%; /* Адаптація до ширини екрану */
  height: auto; /* Автоматична висота для збереження пропорцій */
}

@media (max-width: 768px) {
  .welcome video {
    width: 100%; /* Відео займає всю ширину */
    height: auto; /* Пропорційна висота */
  }
}

@media (max-width: 480px) {
  .welcome video {
    width: 100%; /* Відео займає всю ширину */
    height: auto; /* Пропорційна висота */
    border-radius: 10px; /* Наприклад, скруглені кути для стилю */
  }
}


    .welcome-logo {
      width: 200px;
      height: 80px;
      margin-bottom: 10px;
    }

    .welcome-img {
      width: 100%;
      align-self: center;
    }

    .text-container {
      max-width: 600px;
      padding: 0 20px;
    }

    .text-container h5 {
      font-weight: 500;
      margin-top: 12px;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    }

    .purpose {
      text-align: center;
      margin-top: 100px;
    }

    .large-icon {
      width: 60px;
      height: 60px;

      margin-right: 8px;
    }

    .small-icon {
      width: 30px;
      height: 30px;

      margin-right: 8px;
    }

    .describe-course-item {
      display: flex;
      align-items: center;
      margin: 30px 30px;
    }

    .describe-course-item img {
      filter: brightness(0);
    }

    .purpose-item {
      display: flex;
      align-items: center;
      margin: 30px 30px;
    }

    .purpose-item img {
      filter: brightness(0);
    }

    .goals-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .button-start {
      margin: 30px 30px;
      padding: 12px 24px;
      border-radius: 50px;
      background-color: #000000;
      color: white;
      border-color: black;
    }

    .button-start:hover {
      color: black;
      background-color: white;
      border-color: black;
    }

    .info-courses {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      justify-content: center;


    }

    .nameCourse {
      margin-top: 50px;
      width: 350px;
      text-align: center;
    }

    .about {
      margin-bottom: 100px;
      width: 500px;
    }

    .about ul li {
      margin-bottom: 10px;
    }
    .apply-course{
      display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;
    }
    .form-container {
            background-color: none;
           padding: 20px;
           margin-top: 50px;
            border-radius: 8px;
           
            width: 100%;
            max-width: 600px;
            justify-self: center;
            
        }
        h2 {
            text-align: center;
            margin-bottom: 39px;
            margin-top: 19px;
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight:500;
        }
        input[type="text"], input[type="email"], input[type="tel"], select, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }
        button[type="submit"] {
            background-color: black;
            color: white;
            border-color: black;
            padding: 12px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            width: 50%;
            display: flex;
    justify-self: center;
    justify-content: center;

           
        }
        button[type="submit"]:hover {
            background-color: white;
            color: black;
            border-color: black;
        }
        .form-footer {
            text-align: center;
            margin-top: 15px;
        }
        .required::after{
            content: " *";
            color: rgb(234, 13, 13);
            font-size: medium;
        }
        .error {
      color: red;
      font-size: 12px;
      margin-top: -8px;
      margin-bottom: 10px;
    }

    /* Success message styles */
    .success-message {
      display: none;
     
      color:black;
      padding: 15px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
    }
    .success-under{
       
        color: black;
        font-weight:normal;
        font-size: 15px;
        margin-top: 20px;


    }

    /* Hide the form when it's submitted */
    .form-hidden {
      display: none;
    }

   


.feedback-container .box {
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  transition: 0.5s;
  background-color: rgb(235, 235, 235);
}

.feedback-container .box:hover {
  transform: translateY(-0.8rem);
}

 .feedback-container .box .fas {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1rem;
}

 .feedback-container .box p {
  color: black;
  font-size: 1rem;
  margin-bottom: 1rem;
}

 .feedback-container .box .person {
  display: flex;
  align-items: center;
}

.feedback-container .box .person-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

 .feedback-container .box .person-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

 .feedback-container .box .author {
  font-size: 1rem;
  color: black;
}




