 .team h2 {
            text-align: center;
           margin-top: 33px

        }

        .teacher h3 {
            margin-top: 15px;

        }

        .teacher h4 {
            font-weight: 600;
        }

        .team h2::after {
            content: "";
            display: block;

            width: 10%;

            height: 2px;

            background-color: #000;

            margin: 10px auto 0;

        }


        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);

            gap: 20px;

            margin: 50px 30px;

            place-items: center;
            grid-template-areas: "item1 item1 item1"
                "item2 item3 item4";

        }

        .teacher {
            display: flex;
            /* Use flexbox to center content inside .teacher */
            flex-direction: column;
            /* Stack the content vertically */
            align-items: center;
            /* Center content horizontally */
            justify-content: center;
            /* Center content vertically */
            text-align: center;
            /* Make sure the text inside is centered */
            width: 100%;
            /* Make sure each teacher item takes up full available space */
            padding: 0;
            margin-bottom: 30px;
        }


        .teacher-img {
            height: 150px;
            width: 152px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 100px;
            border-color: black;
            border-style: solid;

        }

        .teacher-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }



        .teacher ul li p {
           margin-bottom: -3px;
            max-width: 500px;

        }

        .teacher:not([style*="grid-area: item1;"]) ul li p {
            height: 150px;
        }

        .button-start {
            padding: 10px 20px;

            background-color: #000000;

            color: white;

            cursor: pointer;
        }

        .button-start:hover {
            background-color: rgb(255, 255, 255);
            color: #000000;
            border-color: black;
        }

        .teacher ul {
            margin-top: 14px;
            display: block;
            justify-content: center;
            list-style-type: none;


            padding: 0;
        }

        .teacher ul li {
            justify-content: center;
            align-items: center;
        }