 .team h2 {
            text-align: center;
           margin-top: 33px

        }

        .teacher h3 {
            margin-top: 15px;

        }

        .teacher h4 {
            font-weight: 600;
        }

        .team h2::after {
            content: "";
            display: block;

            width: 10%;

            height: 2px;

            background-color: #000;

            margin: 10px auto 0;

        }


        

        .teacher {
            /* Stack the content vertically */
            align-items: center !important;
            /* Center content horizontally */
            justify-content: center;
            /* Center content vertically */
            text-align: center;
            /* Make sure the text inside is centered */
            width: 100%;
            /* Make sure each teacher item takes up full available space */
            padding: 0;
           
        }


        .teacher-img {
            height: 150px;
            width: 152px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 100px;
            border-color: black;
            border-style: solid;

        }

        .teacher-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }



        .founder{
            max-width: 470px;
        }

        .button-start {
            padding: 10px 20px;

            background-color: #000000;

            color: white;

            cursor: pointer;
        }

        .button-start:hover {
            background-color: rgb(255, 255, 255);
            color: #000000;
            border-color: black;
        }

        .teacher ul {
            margin-top: 14px;
            display: block;
            justify-content: center;
            list-style-type: none;


            padding: 0;
        }

        .teacher ul li {
            justify-content: center;
            align-items: center;
        }